/* Make clicks pass-through */
#nprogress{
    pointer-events: none;
}

#nprogress .bar{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;

    width: 100%;
    height: 2px;

    background: #4caf50;
}

/* Fancy blur effect */
#nprogress .peg{
    position: absolute;
    right: 0;

    display: block;

    width: 100px;
    height: 100%;

    transform: rotate(3deg) translate(0px, -4px);

    opacity: 1.0;
    box-shadow: 0 0 10px #29d, 0 0 5px #29d;
}
